/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../../../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../../assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('../../../assets/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Poppins-Black;
  src: url('../../../assets/fonts/Poppins/Poppins-Black.ttf');
}

/*//////////////////////////////////////////////////////////////////
  [ RS PLUGIN ]*/
/*---------------------------------------------*/

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
}

.simpleslide {
  display: block;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .simpleslide-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 80px 0;
    .logo {
      margin: 10px 30px 10px 0;
      width: 60px;
      height: 60px;
      object-fit: cover;
      object-position: center;
      img {
        display: block;
        max-width: 100%;
      }
    }
    .action-btn {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        padding: 0 15px;
        background-color: #fff;
        border-radius: 25px;
        min-width: 140px;
        height: 50px;
        font-family: Poppins-Regular;
        font-size: 18px;
        color: #555;
        line-height: 1.2;
        text-transform: uppercase;
        &:hover {
          background-color: #555555;
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15px 120px;
    .title {
      text-align: center;
      padding-bottom: 40px;
      margin: 0px;
      font-family: Poppins-Thin;
      font-size: 72px;
      line-height: 1.1;
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      letter-spacing: 15px;
    }
    .counters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .counter-item {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 195px;
        margin-bottom: 30px;
        padding-left: 30px;
        font-family: Poppins-Black;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        .count {
          font-size: 120px;
          padding-bottom: 9px;
        }
        .lable {
          font-family: Poppins-Regular;
          font-size: 12px;
          align-self: flex-start;
        }
      }
    }
  }
  .social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    .link-item {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 16px;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 50%;
      margin: 0 3px 5px;
      &:hover {
        background-color: #fff;
        color: #555;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.overlay {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #7579ff;
    background: linear-gradient(bottom, #b224ef, #7579ff);
    opacity: 0.3;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
